* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#__blaze-root,
#__blaze-root .eq-ui-card,
#__blaze-root .row,
#__blaze-root .row .col-md-4,
#__blaze-root .row .col-md-8 {
	height: 100%;
	padding: 0;
}

#__blaze-root .row {
	width: 100%;
	padding: 0;
	margin: 0;
}

ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ol li {
	margin-bottom: 3px 0;
}

li>ol {
	display: none;
}

li>ol {
	margin-left: 30px;
}

li.expanded>ol {
	display: block;
}

li.mjs-nestedSortable-expanded>ol {
	display: block;
}

.organization-manager.small  {

}

.organization-manager.small.circle .tree-view-wrapper {
	display: none;
}

.organization-manager.small.circle .circle-view {
	display: block;
	margin-left: 0;
}

.organization-manager.small .tree-view-wrapper {
}

.organization-manager.small .glyphicon-globe {
	display: block;
}

.organization-manager.small .circle-view {
	display: none;
}

.organization-manager {
	width: 100%;
	padding: 4px;
	height: 100%;
}

.organization-manager .glyphicon-globe {
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 24px;
	cursor: pointer;
}

.tree-view-wrapper {
	width: 100%;
    height: calc(100% - 70px);
    float: left;
    overflow-y: auto;
    position: relative;
}

.btn.dropdown-trigger {
	position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1001;
}

.placeholder {
	outline: 1px dashed #4183C4;
	margin-bottom: 4px;
}

.tree-view-wrapper .btn-primary {
	/* float: right; */
	margin-top: 20px;
	z-index: 1000;
	position: absolute;
	margin-top: -35px;
	display: block;
	right: 10px;
	bottom: 0;
}

.tree-view {
	height: 100%;
    padding: 8px 8px 8px 8px;
    margin: 0;
}

.tree-node.allow>.tree-node-parent {
	box-shadow: 0 0 10px #1bbc9b;
}

.tree-node.deny>.tree-node-parent {
	box-shadow: 0 0 10px #FA618F;
}

.tree-node.deny .placeholder {
	border: none;
	display: none;
}

.tree-node .tree-node-parent:hover {
	background-color: #FCFCFC;
}
.tree-node .tree-node-parent {
    border-radius: 3px;
    width: 100%;
    height: 32px;
    line-height: 27px;
    position: relative;
    cursor: pointer;
    margin-bottom: 4px;
}

.tree-node.selected > .tree-node-parent {
	box-shadow: 0 0 10px #1bbc9b;
}

.tree-node.tmp {
	color: #f0f0f0;
}

.tree-node.tmp .tree-node-parent .node-title {
	color: #f0f0f0;
}

.tree-node .move-icon {
    opacity: 0.6;
    position: absolute;
    cursor: move;
    left: 4px;
    top: 4px;
}

.tree-node .move-icon:hover {
	opacity: 1;
}

.tree-node .move-icon .glyphicon {
}

.tree-node .node-title {

	display: inline-block;
    width: 100%;
    padding: 4px 30px 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #5E698A;
    font-weight: 600;
}

.tree-node .node-action {
	position: absolute;
	right: 4px;
	top: 2px;
	opacity: 0.5;
	cursor: pointer;
	width: 20px;
	font-size: 16px;
}

.tree-node .node-action:hover {
	opacity: 1;
}

.tree-node .node-childrens {


}

ul.drop-down {
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
	position: absolute;
	z-index: 200;
	width: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul.drop-down .drop-down-item {
	border-bottom: 1px solid #F0F0F0;
	padding: 2px 4px;
	cursor: pointer;
}

ul.drop-down .drop-down-item:last-child {
	border-bottom: none;
}


ul.drop-down .drop-down-item.disabled {
	background-color: #EEEEEE;
	opacity: 0.6;
}

ul.drop-down .drop-down-item:hover {
	background-color: #F0F0F0;
}

.circle-view {
	height: 100%;
}

.circle-view > svg {
	position: absolute;
}

#dropdown-add-space {
	top: 100px;
	right: 10px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.eq-ui-modal-add-spaces .eq-ui-list,
.eq-ui-modal-add-users .eq-ui-list { display: none; }

.eq-ui-modal-add-spaces .eq-ui-list.show-list,
.eq-ui-modal-add-users .eq-ui-list.show-list { display: block; }


#eq-ui-modal-create-user .eq-ui-modal-footer .btn,
#eq-ui-modal-create-space .eq-ui-modal-footer .btn,
#eq-ui-modal-add-space .eq-ui-modal-footer .btn,
#eq-ui-modal-add-user .eq-ui-modal-footer .btn { width: 100%; }

#eq-ui-modal-add-user .eq-ui-list,
#eq-ui-modal-add-space .eq-ui-list {
	max-height: 460px;
    margin: 10px 0;
    overflow-y: auto;
    overflow-x: none;
    background-color: #ffffff;
}

#eq-ui-modal-add-user .eq-ui-list .list-user-wrapper,
#eq-ui-modal-add-space .eq-ui-list .list-space-wrapper {
	height: auto;
}

.space-selected{
	text-decoration: underline;
}