* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	margin-bottom: 3px 0;
}

li>ul.node-childrens {
	display: none;
}

li>ul {
	margin-left: 30px;
}

li.expanded>ul.node-childrens {
	display: block;
}

.organization-manager.small  {

}

.organization-manager.small.circle .tree-view-wrapper {
	display: none;
}

.organization-manager.small.circle .circle-view {
	display: block;
	margin-left: 0;
}

.organization-manager.small .tree-view-wrapper {
	width: 100%;
}

.organization-manager.small .glyphicon-globe {
	display: block;
}

.organization-manager.small .circle-view {
	display: none;
}

.organization-manager {
	width: 100%;
	padding: 4px;
	height: 100%;
}

.organization-manager .glyphicon-globe {
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 24px;
	cursor: pointer;
}

.tree-view-wrapper {
	height: 100%;
	border-right: 1px solid #F0F0F0;
	/* padding: 0 6px; */
	width: 340px;
	float: left;
	overflow-y: auto;
	position: relative;
}

div.eq-ui-card-title.circle-view-header h2 {
    color: #F0F0F0 !important;
}

div.eq-ui-card-title.circle-view-header .btn {
	position: absolute;
    right: 10px;
    top: 32px;
}

.organization-manager .circle-view-header .glyphicon-home {
	display: none;
}

.organization-manager.small .circle-view-header .glyphicon-home {
	position: absolute;
    right: 22px;
    top: 22px;
    font-size: 22px;
    color: #F0F0F0;
    cursor: pointer;
    display: block;
}


.tree-view-header {

}

.tree-view-header span {
	float: left;
    margin-right: 10px;
    font-size: 22px;
    color: #999999;
}



.tree-view-wrapper .btn-primary {
	/* float: right; */
	margin-top: 20px;
	z-index: 1000;
	position: absolute;
	margin-top: -35px;
	display: block;
	right: 10px;
	bottom: 0;
}

.tree-view {
	height: 100%;
    padding: 8px 8px 8px 8px;
    margin: 0;
}

.tree-node.drag-over>.tree-node-parent {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tree-node .tree-node-parent:hover {
	background-color: #FCFCFC;
}
.tree-node .tree-node-parent {
	background-color: #F0F0F0;
	/* padding: 6px 8px; */
	/* margin: 3px 0; */
	border-radius: 3px;
	width: 100%;
	/* vertical-align: middle; */
	height: 32px;
	line-height: 30px;
	position: relative;
	cursor: pointer;
	margin-bottom: 4px;
}

.tree-node.tmp {
	color: #f0f0f0;
}

.tree-node.tmp .tree-node-parent .node-title {
	color: #f0f0f0;
}

.tree-node .move-icon {
    opacity: 0.6;
    position: absolute;
    cursor: move;
    left: 6px;
    top: 2px;
}

.tree-node .move-icon:hover {
	opacity: 1;
}

.tree-node .move-icon .glyphicon {
}

.tree-node .node-title {

	display: inline-block;
	width: 100%;
	padding: 0 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #5E698A;
	font-weight: 600;
}

.tree-node .node-action {
	position: absolute;
	right: 4px;
	top: 2px;
	opacity: 0.5;
	cursor: pointer;
	width: 20px;
	font-size: 16px;
}

.tree-node .node-action:hover {
	opacity: 1;
}

.tree-node .node-childrens {


}

ul.drop-down {
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
	position: absolute;
	z-index: 200;
	width: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul.drop-down .drop-down-item {
	border-bottom: 1px solid #F0F0F0;
	padding: 2px 4px;
	cursor: pointer;
}

ul.drop-down .drop-down-item:last-child {
	border-bottom: none;
}


ul.drop-down .drop-down-item.disabled {
	background-color: #EEEEEE;
	opacity: 0.6;
}

ul.drop-down .drop-down-item:hover {
	background-color: #F0F0F0;
}

.circle-view {
	height: 100%;
	margin-left: 340px
}

#dropdown-add-space {
	top: 100px;
	right: 10px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#eq-ui-modal-add-user .eq-ui-modal-footer .btn { width: 100%; }