<template name="activityTracker">
	<div class="activity-tracker">
		<div class="row">

			<div class="col-md-12">
				<div class="eq-ui-card activities-add-panel">
					<!--<form>-->
			            <div class="row valign-wrapper">
			                <div class="col-md-10">
			                    <div class="eq-ui-form-group eq-ui-input-field">
			                        <input placeholder="1d 4h 10m on a #board for an activity" id="statement-eml" type="text" class="eq-ui-input">
			                    </div>
			                </div>
			                <div class="col-md-2">
			                    <div class="eq-ui-form-group eq-ui-input-field">
			                        <a id="statement-add" class="btn btn-primary eq-ui-waves-light">ADD</a>
			                    </div>
			                </div>
			            </div>
					<!--</form>-->
				</div>

				<div class="eq-ui-card eq-ui-card-with-table activities-table">
				    <table id="activity-tracker-table" class="table eq-ui-data-table eq-ui-with-checkbox z-depth-1">
				        <thead>
				        	<tr>
					        	<th>
						            <input type="checkbox" class="eq-ui-input filled-in" id="checkbox-all" />
						            <label for="checkbox-all"></label>
						        </th>
				                <th class="eq-ui-data-table-cell-non-numeric">Project</th>
				                <th class="eq-ui-data-table-cell-non-numeric">Description</th>
				                <th class="eq-ui-data-table-cell-non-numeric">Space</th>
				                <th class="eq-ui-data-table-cell-non-numeric">User</th>
				                <th class="eq-ui-data-table-cell-non-numeric">Time</th>
				                <th class="eq-ui-data-table-cell-non-numeric">Logged</th>
			            	</tr>
		            	</thead>
		            	<tbody>
				        	{{#each activities}}
					    		{{> atActivity}}
					    	{{/each}}
				    	</tbody>
			    	</table>
		    	</div>
		    </div>
		</div>
	</div>

	{{> deleteActivityEml}}
</template>

<template name="atActivity">
	<tr>
		<td>
            <input type="checkbox" class="eq-ui-input filled-in" id="checkbox-{{_id}}" />
            <label for="checkbox-{{_id}}"></label>
		</td>
	    <td title="{{project}}" class="eq-ui-data-table-cell-non-numeric">{{project}}</td>
	    <td title="{{description}}" class="eq-ui-data-table-cell-non-numeric">{{description}}</td>
	    <td title="{{space}}" class="eq-ui-data-table-cell-non-numeric">{{cmpName}}</td>
	    <td title="{{user}}" class="eq-ui-data-table-cell-non-numeric" >{{userId}}</td>
	    <td title="{{time}}" class="eq-ui-data-table-cell-non-numeric">{{formatDate time}}</td>
	    <td title="{{logged}}" class="eq-ui-data-table-cell-non-numeric">{{formatLoggedTime this}}</td>
	    <td>
		    <a data-target="doc-dropdown-app-bar-{{_id}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
		        <i class="mdi mdi-dots-vertical icon"></i>
		    </a>
		    <ul id="doc-dropdown-app-bar-{{_id}}" class="eq-ui-dropdown eq-ui-dropdown-right-top">
	            <li><a data-target="eq-ui-modal-edit" class="eml-edit eq-ui-modal-trigger">Edit</a></li>
	            <li><a data-target="eq-ui-modal-delete" class="eml-delete eq-ui-modal-trigger">Delete</a></li>
	        </ul>
	    </td>
	</tr>	
</template>

<template name="editActivity">
    <div class="row">
        <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="project" type="text" class="eq-ui-input">
	            <label for="project">Project</label>
	        </div>
	    </div>
	    <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="description" type="text" class="eq-ui-input">
	            <label for="description">Description</label>
	        </div>
	    </div>
	    <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="space" type="text" class="eq-ui-input">
	            <label for="space">Space</label>
	        </div>
	    </div>
	    <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="user" type="text" class="eq-ui-input">
	            <label for="user">User</label>
	        </div>
	    </div>
	    <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="time" type="text" class="eq-ui-input">
	            <label for="time">Time</label>
	        </div>
	    </div>
	    <div class="col-md-12">
	        <div class="eq-ui-form-group eq-ui-input-field">
	            <input id="logged" type="text" class="eq-ui-input">
	            <label for="logged">Logged</label>
	        </div>
	    </div>
    </div>
</template>

<template name="deleteActivityEml">
	<div id="eq-ui-modal-delete" class="eq-ui-modal">
        <!-- Content -->
        <div class="eq-ui-modal-content">
            <h5>Delete activity confirmation</h5>
            <p>Are you sure you want to delete this activity?</p>
        </div>

        <!-- Footer -->
        <div class="eq-ui-modal-footer">
            <a id="statement-delete" href="#" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Confirm</a>
            <a href="#" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Abort</a>
        </div>
    </div>
</template>

