<template name="activityTracker">
	<div class="activity-tracker">
		<div class="row">

			<div class="col-md-12">
				<header class="eq-ui-layout-header" style="padding-left:0px">
					<div id="main-eq-ui-app-bar" class="eq-ui-app-bar">
					<div class="header-title" style="margin-left: 10px">
						Activity Tracker
					</div>
					</div>
				</header>
				<div style="top: 35px; right: 25px; height:50px" class="eq-ui-btn-fab-floating doc-show-in-layout-struture-1 ">
			        <a data-target="eq-ui-modal-add" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light eq-ui-modal-trigger"><i class="mdi mdi-plus icon"></i></a>
			    </div>
			    <div class="">
				<table id="activity-tracker-table" class="table eq-ui-data-table z-depth-1 eq-ui-hoverable" style="margin-top: 30px">
			        <thead>
			            <tr>
			                <th class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">Board</th>
			                <th class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">Activity</th>
			                <th>Time</th>
			                <th>Date</th>
			                <th></th>
			            </tr>
			        </thead>
			        <tbody>
			        	{{#each activities}}
				    		{{> atActivity}}
				    	{{/each}}
			    	</tbody>
			    </table>
			    </div>

			</div>
		</div>
		{{> addActivityEml}}
		{{> deleteActivityEml}}
	</div>
	
</template>

<template name="atActivity">
<tr>
    <td title="{{board}}" class="eq-ui-data-table-cell-non-numeric">{{board}}</td>
    <td title="{{activity}}" class="eq-ui-data-table-cell-non-numeric">{{activity}}</td>
    <td title="{{seconds}}">{{formatSeconds seconds}}</td>
    <td title="{{time}}">{{formatDate time}}</td>
    <td>
	    <a data-target="doc-dropdown-app-bar-{{eml_id}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
	        <i class="mdi mdi-dots-vertical icon"></i>
	    </a>
	    <ul id="doc-dropdown-app-bar-{{eml_id}}" class="eq-ui-dropdown">
            <li><a data-target="eq-ui-modal-edit" class="eml-edit eq-ui-modal-trigger">Edit</a></li>
            <li><a data-target="eq-ui-modal-delete" class="eml-delete eq-ui-modal-trigger">Delete</a></li>
        </ul>
    </td>
</tr>	
</template>