<template name="activityTracker">
	<div class="activity-tracker">
		<div class="row">

			<div class="col-md-12">
				<div class="eq-ui-card activities-add-panel">
					<!--<form>-->
			            <div class="row valign-wrapper">
			                <div class="col-md-10">
			                    <div class="eq-ui-form-group eq-ui-input-field">
			                        {{> inputAutocomplete settings=autocompleteSettings id="statement-eml" class="eq-ui-input" placeholder="1d 4h 10m on a #board for an activity"}}
			                    </div>
			                </div>
			                <div class="col-md-2">
			                    <div class="eq-ui-form-group eq-ui-input-field">
			                        <a id="statement-add" class="btn btn-primary eq-ui-waves-light">ADD</a>
			                    </div>
			                </div>
			            </div>
					<!--</form>-->
				</div>

				<!--	<div class="row valign-wrapper">
						
						{{#each filterItems}}
				    		
							<div class="col-md-2 filter-item">
								<div class="eq-ui-form-group eq-ui-input-field">
			                    	<input id="{{id}}" type="text" class="eq-ui-input" value="{{initValue}}" disabled="{{disabled}}" >
		                        	<label class="{{#if initValue}} active {{/if}}" for="{{id}}">{{title}}</label>
			                    </div>
			                    {{#if dropDown}}
			                    	{{#if disabled}}
							        {{else}}
							        	<a data-target="filter-dropdown-{{id}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
						        			<i class="mdi mdi-dots-vertical icon"></i>
						    			</a>
						    			<ul id="filter-dropdown-{{id}}" class="eq-ui-dropdown eq-ui-dropdown-right-top">
								            {{#each dropDownValues}}
								            	<li><a>{{ title }}</a></li>
								            {{/each}}
								        </ul>
			                    	{{/if}}
				    			{{/if}}
							</div>

				    	{{/each}}

				    	<div class="col-md-2 valign-wrapper filter-item no-border">
							<a id="apply-filter-button" class="btn btn-primary eq-ui-waves-light">Apply</a>
						</div>

					</div>
				</div>

				<div class="eq-ui-card eq-ui-card-with-table activities-total">
					<div class="row valign-wrapper">
						<div class="col-md-2">
							<label class="total-label">Total:</label>
							<span class="total-value">{{totalTime}}</span>
						</div>
						<div class="col-md-8">
						</div>
						<div class="col-md-2">
							<a id="export-activity" class="btn btn-primary eq-ui-waves-light">Export</a>
						</div>
					</div>
				</div>-->

				<div class="eq-ui-card eq-ui-card-with-table activities-table">

					<div class="row valign-wrapper activities-total">
						<div class="col-md-2">
							<label class="total-label">Total:</label>
							<span class="total-value">{{totalTime}}</span>
						</div>
						<div class="col-md-8">
						</div>
						<div class="col-md-2">
							<a id="export-activity" class="btn btn-primary eq-ui-waves-light">Export</a>
						</div>
					</div>

				    <table id="activity-tracker-table" class="table eq-ui-data-table eq-ui-with-checkbox z-depth-1">
				        <thead>
				        	<tr>
					        	<th style="vertical-align: middle;">
						            <input type="checkbox" class="eq-ui-input filled-in" id="checkbox-all" />
						            <label for="checkbox-all"></label>
						        </th>
				                <th class="eq-ui-data-table-cell-non-numeric">
				                	<div class="eq-ui-form-group eq-ui-input-field filter-item">
					                	{{> inputAutocomplete settings=autocompleteFilterProject id="project-filter" class="eq-ui-input" }}
			                        	<label for="project-filter">Project</label>
		                        	</div>
				                </th>
				                <th class="eq-ui-data-table-cell-non-numeric">
				                	<div class="eq-ui-form-group eq-ui-input-field filter-item">
					                	<input id="description-filter" type="text" class="eq-ui-input">
			                        	<label for="description-filter">Description</label>
		                        	</div>
				                </th>
				                <th class="eq-ui-data-table-cell-non-numeric">
				                	<div class="eq-ui-form-group eq-ui-input-field filter-item">
					                	{{> inputAutocomplete settings=autocompleteFilterSpace id="space-filter" class="eq-ui-input" }}
			                        	<label for="space-filter">Space</label>
		                        	</div>
				                </th>
				                <th class="eq-ui-data-table-cell-non-numeric">
				                	<div class="eq-ui-form-group eq-ui-input-field filter-item">
					                	{{> inputAutocomplete settings=autocompleteFilterUser id="user-filter" class="eq-ui-input" }}
			                        	<label for="user-filter">User</label>
		                        	</div>
				                </th>
				                <th class="eq-ui-data-table-cell-non-numeric">
				                	<div class="eq-ui-form-group eq-ui-input-field filter-item">
					                	<input id="time-filter" type="text" class="eq-ui-input">
			                        	<label for="time-filter">Time</label>
		                        	</div>
				                </th>
				                <th class="eq-ui-data-table-cell-non-numeric filter-item">
				                	<div class="eq-ui-form-group eq-ui-input-field">
					                	<input id="logged-filter" type="text" class="eq-ui-input">
			                        	<label for="logged-filter">Logged</label>
		                        	</div>
				                </th>
			            	</tr>
		            	</thead>
		            	<tbody>
				        	{{#each activities}}
					    		{{> atActivity}}
					    	{{/each}}
				    	</tbody>
			    	</table>

			    	<div id="export-table-wrapper">
			    		<table>
			    			<colgroup>
					            <col width="20%">
				                <col width="20%">
			                    <col width="20%">
		                        <col width="10%">
		                        <col width="20%">
		                        <col width="10%">
					        </colgroup>
					        <thead>
					        	<tr>
					                <th class="eq-ui-data-table-cell-non-numeric">Project</th>
					                <th class="eq-ui-data-table-cell-non-numeric">Description</th>
					                <th class="eq-ui-data-table-cell-non-numeric">Space</th>
					                <th class="eq-ui-data-table-cell-non-numeric">User</th>
					                <th class="eq-ui-data-table-cell-non-numeric">Time</th>
					                <th class="eq-ui-data-table-cell-non-numeric">Logged</th>
				            	</tr>
			            	</thead>
			            	<tbody>
					        	{{#each activities}}
						    		<tr>
										<td>{{project}}</td>
									    <td>{{description}}</td>
									    <td>{{cmpName}}</td>
									    <td>{{userName}}</td>
									    <td>{{formatDate time}}</td>
									    <td>{{formatLoggedTime this}}</td>
									</tr>	
						    	{{/each}}
					    	</tbody>
				    	</table>
			    	</div>
		    	</div>
		    </div>
		</div>
	</div>

	{{> deleteActivityEml}}
	{{> editActivity}}
</template>

<template name="atActivity">
	<tr>
		<td>
            <input type="checkbox" class="eq-ui-input filled-in" id="checkbox-{{_id}}" />
            <label for="checkbox-{{_id}}"></label>
		</td>
	    <td title="{{project}}" class="eq-ui-data-table-cell-non-numeric">{{project}}</td>
	    <td title="{{description}}" class="eq-ui-data-table-cell-non-numeric">{{description}}</td>
	    <td title="{{space}}" class="eq-ui-data-table-cell-non-numeric">{{cmpName}}</td>
	    <td title="{{user}}" class="eq-ui-data-table-cell-non-numeric" >{{userName}}</td>
	    <td title="{{time}}" class="eq-ui-data-table-cell-non-numeric">{{formatDate time}}</td>
	    <td title="{{logged}}" class="eq-ui-data-table-cell-non-numeric">{{formatLoggedTime this}}</td>
	    <td>
		    <a data-target="doc-dropdown-app-bar-{{_id}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
		        <i class="mdi mdi-dots-vertical icon"></i>
		    </a>
		    <ul id="doc-dropdown-app-bar-{{_id}}" class="eq-ui-dropdown eq-ui-dropdown-right-top">
	            <li><a class="eml-edit">Edit</a></li>
	            <li><a class="eml-delete">Delete</a></li>
	        </ul>
	    </td>
	</tr>	
</template>

<template name="editActivity">
    <div id="eq-ui-modal-edit" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small">
    	<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Edit Activity</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content">  
			<form> 
				<div class="row"> 
					<div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">
				            <input id="project" value="{{selectedActivity.project}}" type="text" class="eq-ui-input">
				            <label class="active" for="project">Project</label>
				        </div>
				    </div>
				    <div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">
				            <input id="description" value="{{selectedActivity.description}}" type="text" class="eq-ui-input">
				            <label class="active" for="description">Description</label>
				        </div>
				    </div>
				    <!--<div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">
				            <input id="space" value="{{selectedActivity.cmpName}}" type="text" class="eq-ui-input" disabled>
				            <label class="active" for="space">Space</label>
				        </div>
				    </div>
				    <div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">
				            <input id="user" value="{{selectedActivity.userName}}" type="text" class="eq-ui-input" disabled>
				            <label class="active" for="user">User</label>
				        </div>
				    </div>-->
				    <div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">
				            <input id="time" type="text" class="eq-ui-input">
				            <label class="active" for="time">Time</label>
				        </div>
				    </div>
				    <div class="col-md-12">
				        <div class="eq-ui-form-group eq-ui-input-field">

				            <input id="logged" value="{{ formatLoggedTime selectedActivity }}" type="text" class="eq-ui-input">
				            <label class="active" for="logged">Logged</label>
				        </div>
				    </div>
				</div> 
			</form> 
		</div>
		<div class="eq-ui-modal-footer">
            <a id="activity_save_submit" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Save</a>
            <a class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Cancel</a>
        </div>
    </div>
</template>

<template name="deleteActivityEml">
	<div id="eq-ui-modal-delete" class="eq-ui-modal">
        <!-- Content -->
        <div class="eq-ui-modal-content">
            <h5>Delete activity confirmation</h5>
            <p>Are you sure you want to delete this activity?</p>
        </div>

        <!-- Footer -->
        <div class="eq-ui-modal-footer">
            <a id="statement-delete" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Confirm</a>
            <a class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close waves-effect waves-effect">Abort</a>
        </div>
    </div>
</template>

<template name="activityBoardPill">
    <span>{{title}}</span><span style="font-size: 0.8em;"> ({{spaceTitle}})</span>
</template>