.activity-tracker {
	padding: 10px;
	height: 100%;
}

.activity-tracker .btn.dropdown-trigger {
	z-index: 1;
}

#__blaze-root .eq-ui-card.activities-table {
	margin-top: 20px;
	height: calc(100% - 110px);
}

#__blaze-root .eq-ui-card.activities-add-panel {
	height: auto;
}

.activities-add-panel .eq-ui-form-group {
}

