/* FIX */
.calendar.right {
	float: left!important;
}

.activity-tracker {
	padding: 10px;
	height: 100%;
}

.activity-tracker #export-table-wrapper {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.activity-tracker .btn.dropdown-trigger {
	z-index: 1;
}

#__blaze-root .eq-ui-card.activities-table {
	margin-top: 20px;
	height: calc(100% - 110px);
}


#__blaze-root .eq-ui-card.activities-add-panel {
	height: 90px;
}

.activity-tracker .btn-primary {
	width: 100%;
}

.activity-tracker .row {
	width: 100%;
	padding: 0;
	margin: 0;
}

.activity-tracker .row,
.activity-tracker .row .col-md-12 {
	height: 100%;
	padding: 0;
	position: relative;
	background-color: #FFFFFF;
}

.activities-add-panel .eq-ui-form-group {
}

.activity-tracker .activities-filter {
    height: 90px;
    margin-top: 20px;
    overflow: visible;
}

.activity-tracker .activities-filter .row {
	height: 90px;
}

.activity-tracker .activities-filter .dropdown-trigger {
	top: 20px;
}

.activity-tracker .activities-filter .filter-item {
	border-right: 1px solid #dddddd;
    height: 60px;
}

.activity-tracker .activities-filter .filter-item.no-border {
	border: none;
}

.activity-tracker .activities-filter .eq-ui-dropdown {
 	overflow-x: hidden;
    overflow-y: auto;
}

.activity-tracker .activities-filter .eq-ui-input-field {
	width: calc(100% - 40px);
}

.activity-tracker .activities-total {
	height: 40px;
    margin-top: 20px;
    overflow: visible;
}

.activity-tracker .activities-total .total-value {
	margin-left: 16px;
}

#activity-tracker-table {
	box-shadow: none;
}

a.btn.dropdown-trigger.doc-dropdown-export {
    position: absolute;
    top: -25px;
    right: 25px;
}