<template name="createUserDialog">
	<div id="eq-ui-modal-create-user" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-new-user"> 
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">New user</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			<form id="eq-ui-modal-create-user-form"> 
				<div class="eq-ui-form-group riot-eq-ui-input-file eq-ui-input-file eq-ui-input-file-fake"> 
					<a class="btn btn-primary eq-ui-waves-light"> Fake <input id="create_user_file_input" type="file" data-img-preview="create_user_file_input_img_preview" data-img-preview-text-loading="Loading..."> </a> 
					<div class="eq-ui-input-file-path"> 
						<input type="text" class="eq-ui-input" readonly=""> 
					</div> 
				</div> 
				<div class="row"> 
					<div class="col-md-12"> 
						<div class="eq-ui-form-group eq-ui-input-field"> 
							<input id="create_user_username" type="text" data-parsley-minlength="3" class="eq-ui-input invalid" required="" data-parsley-id="2"> <label for="create_user_username" data-error="Min length 3" class="">User Name</label> 
						</div> 
					</div> 
				</div> 
			</form> 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a id="create_user_submit" href="#" data-target="eq-ui-modal-user-permissions-off" class="btn btn-primary eq-ui-waves-light eq-ui-modal-close">Save user</a> 
		</div> 
	</div>
</template>