<template name="notifications">
    <div id="notifications">

        {{#if is_cordova}}
        <div class="eq-man-header-mobile eq-ui-secondary-color">

            <div class="eq-man-header-mobile-title">
                <h6>{{tr "Notifications"}}</h6>
            </div>

            <ul class="right eq-ui-nav-menu">
                <li class="eq-ui-nav-menu-item-icon eq-man-header-mobile-menu">
                    <a data-target="dropdown-header-mobile-menu" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves trigger-dropdown-header-mobile-menu">
                        <i class="mdi mdi-menu eq-ui-icon"></i>
                    </a>

                    <ul id="dropdown-header-mobile-menu" class="eq-ui-dropdown eq-ui-dropdown-right-top">
                        <li class="eq-man-header-mobile-menu-mark-all-notify {{#if ifCond notifications_num '==' 0}}disabled{{/if}}">
                            <a class="truncate">
                                {{tr "Mark all as read"}}
                            </a>
                        </li>
                        <li class="eq-man-header-mobile-menu-remove-all-notify {{#if ifCond notifications.length '==' 0}}disabled{{/if}}">
                            <a class="truncate">
                                {{tr "Clear all"}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        {{/if}}

        <div class="eq-ui-scrollbar-wrap eq-ui-scrollbar-wrap-y">
            <ul class="eq-ui-list eq-ui-hoverable">

                {{#each notifications}}
                {{> notifications_item}}
                {{/each}}

            </ul>
        </div>

        <div class="notifications_footer hidden_cordova">
            <p>
                <a href="#" class="btn btn-default eq-ui-btn-flat mark-all-notify {{#if ifCond notifications_num '==' 0}}disabled{{/if}}">{{tr "Mark all as read"}}</a>
                <a href="#" class="btn btn-default eq-ui-btn-flat remove-all-notify {{#if ifCond notifications.length '==' 0}}disabled{{/if}}">{{tr "Clear all"}}</a>
            </p>
        </div>

    </div>
</template>

<template name="notifications_item">

    <li class="eq-ui-list-item eq-ui-list-avatar eq-ui-list-secondary-content notifications_item {{#if unread}}notifications_item_unread{{/if}}">
        <img class="circle" src="{{avatar}}">
        <div class="eq-ui-list-body">
            <h6 class="eq-ui-list-title"><strong>{{ from_user }}</strong> {{{ subject }}} {{#if action}}<a target="_blank" href="{{action}}">{{tr "Go to"}} {{action_label}}</a>{{/if}}</h6>
            {{ livestamp date }}
        </div>
        <a class="eq-ui-list-secondary-content-body shades-text-black-hover remove-notify">
            <i class="mdi mdi-close-circle icon"></i>
        </a>
    </li>

</template>