<template name="tasks">
    <div id="tasks">

        {{#if is_cordova}}
            <div class="eq-man-header-mobile eq-ui-secondary-color">

                <div class="eq-man-header-mobile-title">
                    <h6>{{tr "Tasks"}}</h6>
                </div>

                <ul class="right eq-ui-nav-menu">

                    <li class="eq-ui-nav-menu-item-icon eq-man-header-mobile-menu eq-man-tasks-filters-order-by">
                        <a data-target="dropdown-tasks-filters-order-by" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves grey-text-600 trigger-dropdown-tasks-filters-order-by eq-ui-secondary-color-text">
                            <i class="mdi mdi-filter-variant eq-ui-icon"></i>
                        </a>

                        <div class="eq-ui-select-wrapper">
                            <ul id="dropdown-tasks-filters-order-by" class="eq-ui-dropdown eq-ui-dropdown-right-top">
                                <li class="eq-man-tasks-filters-order-by-points">
                                    <a data-target="fake" class="truncate {{#if filters_order_by_points}}active{{/if}}">
                                        <i class="mdi mdi-check icon eq-ui-select-icon"></i> <span>{{tr "Order by points"}}</span>
                                    </a>
                                </li>
                                <li class="eq-man-tasks-filters-order-by-creation-date">
                                    <a data-target="fake" class="truncate {{#if filters_order_by_creation_date}}active{{/if}}">
                                        <i class="mdi mdi-check icon eq-ui-select-icon"></i> <span>{{tr "Order by creation date"}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="eq-ui-nav-menu-item-icon eq-man-header-mobile-menu">
                        <a data-target="tasks-dropdown-header-mobile-menu" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves trigger-tasks-dropdown-header-mobile-menu">
                            <i class="mdi mdi-menu eq-ui-icon"></i>
                        </a>

                        <ul id="tasks-dropdown-header-mobile-menu" class="eq-ui-dropdown eq-ui-dropdown-right-top">
                            <li class="eq-man-header-mobile-menu-mark-all-tasks-done {{#if ifCond tasks_num '==' 0}}disabled{{/if}}">
                                <a class="truncate">
                                    {{tr "Mark all as done"}}
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        {{/if}}

        <div class="eq-ui-scrollbar-wrap eq-ui-scrollbar-wrap-y">

            {{#if ifCond is_cordova '==' false}}
            <!-- Filters -->
            <div class="eq-man-tasks-filters">
                <ul class="right eq-ui-nav-menu">
                    <li class="eq-ui-nav-menu-item-icon eq-man-tasks-filters-order-by">
                        <a data-target="dropdown-tasks-filters-order-by" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves grey-text-600 trigger-dropdown-tasks-filters-order-by eq-ui-secondary-color-text">
                            <i class="mdi mdi-filter-variant eq-ui-icon"></i>
                        </a>

                        <div class="eq-ui-select-wrapper">
                            <ul id="dropdown-tasks-filters-order-by" class="eq-ui-dropdown eq-ui-dropdown-right-top">
                                <li class="eq-man-tasks-filters-order-by-points">
                                    <a data-target="fake" class="truncate {{#if filters_order_by_points}}active{{/if}}">
                                        <i class="mdi mdi-check icon eq-ui-select-icon"></i> <span>{{tr "Order by points"}}</span>
                                    </a>
                                </li>
                                <li class="eq-man-tasks-filters-order-by-creation-date">
                                    <a data-target="fake" class="truncate {{#if filters_order_by_creation_date}}active{{/if}}">
                                        <i class="mdi mdi-check icon eq-ui-select-icon"></i> <span>{{tr "Order by creation date"}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            {{/if}}

            <!-- Open list -->
            <ul class="eq-man-tasks-list">

                {{#each tasks 'open'}}
                    {{> tasks_item}}
                {{/each}}

            </ul>

            <!-- Show/Hide -->
            <div class="eq-man-tasks-list-show-completed {{#if ifCond tasks_completed_num '==' 0}}hide{{/if}}">
                <a href="#" class="btn btn-default show-all-tasks-completed {{#if ifCond tasks_is_hide_completed '==' true}}show{{/if}}">{{tr "Show completed tasks"}}</a>
                <a href="#" class="btn btn-default hide-all-tasks-completed {{#if ifCond tasks_is_hide_completed '==' false}}show{{/if}}">{{tr "Hide completed tasks"}}</a>
            </div>

            <!-- Closed list -->
            <ul class="eq-man-tasks-list eq-man-tasks-list-completed {{#if ifCond tasks_completed_num '==' 0}}hide{{/if}}">

                {{#each tasks 'closed'}}
                    {{> tasks_item}}
                {{/each}}

            </ul>

        </div>

        <!-- Footer -->
        <div class="tasks_footer hidden_cordova">
            <p>
                <a href="#" class="btn btn-default eq-ui-btn-flat mark-all-tasks-done {{#if ifCond tasks_num '==' 0}}disabled{{/if}}">{{tr "Mark all as done"}}</a>
                <!--a href="#" class="btn btn-default eq-ui-btn-flat show-all-tasks-completed {{#if ifCond tasks_is_hide_completed '==' true}}show{{/if}}">{{tr "Show completed"}}</a>
                <a href="#" class="btn btn-default eq-ui-btn-flat hide-all-tasks-completed {{#if ifCond tasks_is_hide_completed '==' false}}show{{/if}}">{{tr "Hide completed"}}</a-->
            </p>
        </div>

        <!-- ADD -->
        <div class="eq-ui-btn-fab-action">
            <a class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light trigger-eq-man-tasks-modal-add">
                <i class="mdi mdi-plus icon"></i>
            </a>
        </div>

        {{#if is_show_modal_add}}
            {{> tasks_modal_add}}
        {{/if}}

    </div>
</template>


<template name="tasks_item">

    <li class="eq-man-tasks-list-item tasks_item {{#if complete}}tasks_item_complete{{/if}}">
        <div class="eq-ui-card">

            <div class="eq-ui-card-title">
                <h2 class="eq-ui-card-title-text"><a target="_blank" href="{{action}}">{{{subject}}}</a></h2>
            </div>

            <div class="eq-ui-card-supporting-text">

                {{#if assigned_from.length}}
                    <div class="tasks_item_assigned left">
                        <span class="tasks_item_assigned_title">{{tr "Assigned by"}}:</span>
                        <div class="tasks_item_assigned_avatars">
                            {{#each assigned_from}}
                                {{> tasks_item_avatar}}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{#if assigned_to.length}}
                    <div class="tasks_item_assigned right">
                        <span class="tasks_item_assigned_title">{{tr "Assigned to"}}:</span>
                        <div class="tasks_item_assigned_avatars">

                            {{#each assigned_to_visible}}
                                {{> tasks_item_avatar}}
                            {{/each}}

                            {{#if assigned_to_hidden.length}}
                                <div class="tasks_item_assigned_avatar tasks_item_assigned_avatar_more">
                                    <a data-target="dropdown-tasks_item_to_more_avatars-{{id}}" class="trigger-dropdown-tasks_item_to_more_avatars-{{id}}">
                                        <span>+{{assigned_to_hidden.length}}</span>
                                    </a>

                                    <!-- Dropdown Structure -->
                                    <div class="eq-ui-select-wrapper">
                                    <ul id="dropdown-tasks_item_to_more_avatars-{{id}}" class="eq-ui-dropdown eq-ui-dropdown-right-top">

                                    {{#each assigned_to_hidden}}
                                        <li><a class="truncate"><img class="circle" src="{{avatar}}"> {{user}}</a></li>
                                    {{/each}}

                                    </ul>
                                    </div>
                                </div>
                            {{/if}}

                        </div>
                    </div>
                {{/if}}

            </div>

            <div class="eq-ui-card-supporting-text">
                <div class="tasks_item_details left">
                    <span class="tasks_item_details_label">{{tr "Milestone"}}:<span>{{milestone}}</span></span>
                    <span class="tasks_item_details_label">{{tr "Project"}}:<span>{{project}}</span></span>
                    <span class="tasks_item_details_label">{{tr "Card"}}:<span>{{card}}</span></span>
                </div>
                <div class="tasks_item_details right">
                    <span class="tasks_item_details_label">{{tr "Effort"}}:<span>{{effort}} {{tr "days"}}</span></span>
                    <span class="tasks_item_details_label">{{tr "ETA"}}:<span>{{eta}}</span></span>
                    <span class="tasks_item_details_label">{{tr "Closed On"}}:
                        {{#if ifCond closed_on '==' null}}
                            <span>{{tr "Not Closed"}}</span>
                        {{else}}
                            <span>{{ livestamp closed_on }}</span>
                        {{/if}}
                    </span>
                </div>
            </div>

            <div class="eq-ui-card-supporting-text last">
                <div class="tasks_item_progress">
                    <div class="tasks_item_progress_bar">
                        <div class="eq-ui-progress">
                            <div class="eq-ui-determinate" style="width: {{progress}}%;"></div>
                        </div>
                    </div>
                    <div class="tasks_item_progress_num">{{progress}}%</div>
                </div>
            </div>

            <div class="eq-ui-card-menu">
                <ul class="right eq-ui-nav-menu">
                    <li class="eq-ui-nav-menu-item-icon">
                        <span class="tasks_item_percent_top">{{points}}</span>
                    </li>
                    <li class="eq-ui-nav-menu-item-icon">
                        <input type="checkbox" id="tasks_item_check_{{id}}" class="eq-ui-input filled-in mark-complete" checked="{{complete}}" />
                        <label for="tasks_item_check_{{id}}"></label>
                    </li>
                </ul>
            </div>

        </div>
    </li>

</template>


<template name="tasks_item_avatar">
    <div class="tasks_item_assigned_avatar">
        <a data-target="dropdown-tasks_item_avatar-{{avatar_id}}" class="trigger-dropdown-tasks_item_avatar-{{avatar_id}}">
            <img class="circle" src="{{avatar}}">
        </a>

        <!-- Dropdown Structure -->
        <ul id="dropdown-tasks_item_avatar-{{avatar_id}}" class="eq-ui-dropdown {{#if ifCond type '==' 'to'}}eq-ui-dropdown-right-top{{/if}}">
            <li><a class="truncate"><img class="circle" src="{{avatar}}"> {{user}}</a></li>
        </ul>
    </div>
</template>