<template name="circleView">
	<div class="circle-view eq-ui-card">
		<div class="circle-view-header eq-ui-card-title eq-deep-blue-500">
			<h2 class="eq-ui-card-title-text">Holarchy</h2>
			<a data-target="dropdown-add-space" data-hover="false" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light dropdown-trigger"><i class="mdi mdi-plus icon"></i></a>
		</div>
	</div>

	<ul id="dropdown-add-space" class="eq-ui-dropdown eq-ui-dropdown-right-top">
		<li><a name="add-user" href="#eq-ui-modal-add-user" class="eq-ui-modal-trigger">User</a></li>
		<li><a href="#eq-ui-modal-add-space" class="eq-ui-modal-trigger">Space</a></li>
	</ul>

	{{> addSpaceDialog }}

</template>

<template name="addSpaceDialog">
	<div id="eq-ui-modal-add-user" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-add-users">
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Add user</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			<div class="eq-ui-search"> 
				<input class="eq-ui-search-user" type="text" placeholder="Search"> 
				<i class="eq-ui-search-icon-left mdi mdi-magnify eq-ui-icon eq-ui-icon-left"></i> 
				<i class="eq-ui-search-clear mdi mdi-close-circle eq-ui-icon eq-ui-icon-right eq-ui-icon-18"></i> 
			</div>  
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a class="btn btn-primary eq-ui-waves-light eq-ui-modal-close">Create new user</a> 
		</div> 
	</div>
</template>