<template name="circleView">
	<div class="circle-view eq-ui-card">
		<div class="circle-view-header eq-ui-card-title eq-deep-blue-500">
			<h2 class="eq-ui-card-title-text">Holarchy</h2>
			<a data-target="dropdown-add-space" data-hover="false" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light dropdown-trigger"><i class="mdi mdi-plus icon"></i></a>
		</div>
	</div>

	<ul id="dropdown-add-space" class="eq-ui-dropdown eq-ui-dropdown-right-top">
	    <li><a name="add-user" href="#eq-ui-modal-add-user" class="eq-ui-modal-trigger">User</a></li>
		<li><a href="#eq-ui-modal-add-space" class="eq-ui-modal-trigger">Space</a></li>
	</ul>
	<a data-target="eq-ui-modal-sample1" class="btn btn-primary eq-ui-waves-light eq-ui-modal-trigger">Basic</a>

	<!-- Modal Basic -->
	<div id="eq-ui-modal-sample1" class="eq-ui-modal">

	  <!-- Content -->
	  <div class="eq-ui-modal-content">
	    <h5>Title</h5>
	    <p>Duis bibendum nisl quis tellus rutrum, ut aliquet massa interdum. Mauris sit amet nisl augue. Nullam turpis mauris, aliquam in fermentum non, malesuada faucibus orci. Suspendisse viverra lorem vitae eros tristique, nec sagittis lectus molestie.</p>
	  </div>

	  <!-- Footer -->
	  <div class="eq-ui-modal-footer">
	    <a href="#" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Agree</a>
	    <a href="#" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Disagree</a>
	  </div>

	</div>


</template>