<template name="account">
    <div id="account">

        <div class="eq-man-header-mobile eq-ui-secondary-color">

            <div class="eq-man-header-mobile-title">
                <h6>{{tr "Account"}}</h6>
            </div>

        </div>

        <div class="account-profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="eq-ui-form-group eq-ui-input-field">
                        <a id="log-out-action" class="btn btn-primary red-500 eq-ui-waves-light">{{tr 'Log Out'}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>