<template name="account">
    <div id="account">

        <div class="eq-man-header-mobile eq-ui-secondary-color">

            <div class="eq-man-header-mobile-title">
                <h6>{{tr "Account"}}</h6>
            </div>

        </div>

        <div class="account-profile">
            <div class="row">
                <div class="col-md-12">
                    <div class="eq-man-account-profile-details">
                        <img class="circle eq-man-account-profile-details-avatar" src="{{user_details.avatar}}">
                        <h6 class="eq-man-account-profile-details-avatar-name">{{user_details.username}}</h6>
                        <h6 class="eq-man-account-profile-details-avatar-email">{{user_details.email}}</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="eq-ui-form-group eq-ui-input-field">
                        <a id="log-out-action" class="btn btn-primary red-500 eq-ui-waves-light">{{tr 'Log Out'}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>