<template name="addSpaceDialog">
	<div id="eq-ui-modal-add-space" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-add-spaces">
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Add space</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			<div class="eq-ui-search"> 
				<input class="eq-ui-space-search" type="text" placeholder="Search"> 
				<i class="eq-ui-search-icon-left mdi mdi-magnify eq-ui-icon eq-ui-icon-left"></i> 
				<i class="eq-ui-search-clear mdi mdi-close-circle eq-ui-icon eq-ui-icon-right eq-ui-icon-18"></i> 
			</div>  
			<div class="eq-ui-list eq-ui-hoverable">
				<div class="list-space-wrapper">
					{{#each spaces}}
				    	<a class="eq-ui-list-item space-item" href="#">{{name}}</a>
				    {{/each}}
				</div>
			</div>
		</div> 
	</div>
</template>

<template name="createSpaceDialog">
	<div id="eq-ui-modal-create-space" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-new-space"> 
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">New Space</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content">  
			<form id="eq-ui-modal-create-space-form"> 
				<div class="row"> 
					<div class="col-md-12"> 
						<div class="eq-ui-form-group eq-ui-input-field"> 
							<input id="create_space_name" type="text" data-parsley-minlength="3" class="eq-ui-input invalid" required="" data-parsley-id="2"> <label for="create_space_name" data-error="Min length 3" class="">Name</label> 
						</div> 
					</div> 
				</div> 
			</form> 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a id="create_space_submit" data-target="eq-ui-modal-space-permissions-off" class="btn btn-primary eq-ui-waves-light eq-ui-modal-close">Save space</a> 
		</div> 
	</div>
</template>