<template name="circleView">
	<div class="col-md-8">
		<div class="circle-view eq-ui-card">
			<a data-target="dropdown-add-space" data-hover="false" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light dropdown-trigger"><i class="mdi mdi-plus icon"></i></a>
		</div>

		<ul id="dropdown-add-space" class="eq-ui-dropdown eq-ui-dropdown-right-top">
			<li><a name="add-user" href="#eq-ui-modal-create-user" class="eq-ui-modal-trigger">User</a></li>
			<li><a href="#eq-ui-modal-create-space" class="eq-ui-modal-trigger">Space</a></li>
		</ul>
	</div>

	{{> addUserDialog }}
	{{> createUserDialog }}
	{{> addSpaceDialog }}
	{{> createSpaceDialog }}

</template>


