<template name="treeView">

	<div class="col-md-4 ">
		<div class="eq-ui-card">
			<div class="tree-view-wrapper eq-ui-card-with-list">
				<ol class="tree-view"></ol>
			</div>
			<a class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light to-circle-view"><i class="mdi mdi-chevron-right icon"></i></a>
		</div>
	</div>

	{{> confirmDelete }}
	{{> editSpaceDialog }}
	{{> editUserDialog }}
</template>

<template name="confirmDelete">
	<div id="eq-ui-modal-confirm-delete" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-confirm-delete">
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Confirm Delete</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			Do you really want to delete <b><span class="item-name"></span></b> ? 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a name="cancel" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Cancel</a> 
			<a name="confirm" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Confirm</a> 
		</div> 
	</div>
</template>

<template name="editSpaceDialog">
	<div id="eq-ui-modal-edit-space" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-new-space"> 
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Edit Space</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content">  
			<form id="eq-ui-modal-create-space-form"> 
				<div class="row"> 
					<div class="col-md-12"> 
						<div class="eq-ui-form-group eq-ui-input-field"> 
							<input id="edit_space_name" value={{contextMenuSpace.name}} type="text" data-parsley-minlength="3" class="eq-ui-input valid" required="" data-parsley-id="2"> <label for="edit_space_name" data-error="Min length 3" class="">Name</label> 
						</div> 
					</div> 
				</div> 
			</form> 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a id="edit_space_submit" data-target="eq-ui-modal-space-permissions-off" class="btn btn-primary eq-ui-waves-light eq-ui-modal-close">Save space</a> 
		</div> 
	</div>
</template>

<template name="editUserDialog">
	<div id="eq-ui-modal-edit-user" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-new-user"> 
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Edit user</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			<form id="eq-ui-modal-create-user-form"> 
				<div class="eq-ui-form-group riot-eq-ui-input-file eq-ui-input-file eq-ui-input-file-fake"> 
					<a class="btn btn-primary eq-ui-waves-light"> Fake <input id="create_user_file_input" type="file" data-img-preview="create_user_file_input_img_preview" data-img-preview-text-loading="Loading..."> </a> 
					<div class="eq-ui-input-file-path"> 
						<input type="text" class="eq-ui-input" readonly=""> 
					</div> 
				</div> 
				<div class="row"> 
					<div class="col-md-12"> 
						<div class="eq-ui-form-group eq-ui-input-field"> 
							<input id="edit_user_name" value={{contextMenuUser.name}} type="text" data-parsley-minlength="3" class="eq-ui-input valid" required="" data-parsley-id="2"> <label for="edit_user_name" data-error="Min length 3" class="">User Name</label> 
						</div> 
					</div> 
				</div> 
			</form> 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a id="edit_user_submit" href="#" data-target="eq-ui-modal-user-permissions-off" class="btn btn-primary eq-ui-waves-light eq-ui-modal-close">Save user</a> 
		</div> 
	</div>
</template>

