<template name="treeView">

	<div class="col-md-4">
		<div class="tree-view-wrapper eq-ui-card eq-ui-card-with-list">
			<div class="tree-view-header eq-ui-card-title eq-ui-card-border">
				<h2 class="eq-ui-card-title-text">Organization Manager</h2>
			</div>
			<ol class="tree-view"></ol>
		</div>
	</div>

	{{> confirmDelete }}
</template>

<template name="confirmDelete">
	<div id="eq-ui-modal-confirm-delete" class="eq-ui-modal eq-ui-modal-fixed eq-ui-modal-small eq-ui-modal-confirm-delete">
		<div class="eq-ui-modal-header"> 
			<div class="header-title"> 
				<span class="section-title truncate">Confirm Delete</span> 
			</div> 
			<ul class="right eq-ui-nav-menu"> 
				<li class="eq-ui-nav-menu-item-icon"> 
					<a class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves eq-ui-modal-close"> 
						<i class="mdi mdi-close eq-ui-icon"></i> 
					</a> 
				</li> 
			</ul> 
		</div> 
		<div class="eq-ui-modal-content"> 
			Do you really want to delete <b><span class="item-name"></span></b> ? 
		</div> 
		<div class="eq-ui-modal-footer"> 
			<a name="cancel" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Cancel</a> 
			<a name="confirm" class="btn btn-default eq-ui-btn-flat eq-ui-waves eq-ui-secondary-color-text eq-ui-modal-close">Confirm</a> 
		</div> 
	</div>
</template>