<template name="sprintPlanner">
	<div class="sprint-planner">
		<div class="row">
			<!-- <div class="col-md-1">
				<div class="eq-ui-list eq-ui-hoverable">
					<a href="#" class="eq-ui-list-item team-item">All</a>
				    {{#each teams}}
			    		{{> sp_team}}
			    	{{/each}}
				</div>
			</div> -->
			{{> sideMenu}}
			<div class="col-md-8">
				<header class="eq-ui-layout-header" style="padding-left:0px">
					<div id="main-eq-ui-app-bar" class="eq-ui-app-bar">
					<div class="header-title" style="margin-left: 10px">
						Sprint Planner: {{teamName}}
					</div>
					</div>
				</header>
				<div style="top: 5px; right: 5px; height:50px" class="eq-ui-btn-fab-floating doc-show-in-layout-struture-1 ">
			        <a data-target="eq-ui-modal-add" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light eq-ui-modal-trigger"><i class="mdi mdi-plus icon"></i></a>
			    </div>
			    <div class="table-responsive">
				<table id="sprint-planner-table" class="table eq-ui-data-table z-depth-1 eq-ui-hoverable">
			        <thead>
			            <tr>
			                <th>@By</th>
			                <th>Description</th>
			                <th>[]Points</th>
			                <th>@Assigned To</th>
			                <th>!Milestone</th>
			                <th>&Card</th>
			                <th>#Board</th>
			                <th>% Progress</th>
			                <th>~ Effort</th>
			                <th>ETA</th>
			                <th>Closed On</th>
			                <th></th>
			            </tr>
			        </thead>
			        <tbody>
			        	{{#each tasks}}
				    		{{> spTask}}
				    	{{/each}}
			    	</tbody>
			    </table>
			    </div>
			    {{> addEml}}
				{{> editEml}}
				{{> deleteEml}}
			</div>
		</div>
		
		
	</div>
	
</template>

<template name="sp_task_old">
<tr>
    <td title="{{assigned_by}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{assigned_by}}</td>
    <td title="{{what_and_why}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{what_and_why}}</td>
    <td title="{{points}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{points}}</td>
    <td title="{{assigned_to}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{assigned_to}}</td>
    <td title="{{milestone}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{milestone}}</td>
    <td title="{{card}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{card}}</td>
    <td title="{{board}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{board}}</td>
    <td title="{{progress}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{progress}}</td>
    <td title="{{effort}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{effort}}</td>
    <td title="{{eta}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{eta}}</td>
    <td title="{{closed_on}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{closed_on}}</td>
    <td>
	    <a data-target="doc-dropdown-app-bar-{{index}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
	        <i class="mdi mdi-dots-vertical icon"></i>
	    </a>
	    <ul id="doc-dropdown-app-bar-{{index}}" class="eq-ui-dropdown eq-ui-dropdown-right-top">
            <li><a href="#eq-ui-modal-edit" class="eml-edit eq-ui-modal-trigger">Edit</a></li>
            <li><a href="#!" class="eml-delete">Delete</a></li>
        </ul>
    </td>
</tr>	
</template>
<template name="spTask">
<tr style="{{#if isClosed closed_on}}text-decoration: line-through;{{/if}}">
    <td title="{{author}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{author}}</td>
    <td title="{{what_and_why}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{what_and_why}}</td>
    <td title="{{points}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{points}}</td>
    <td title="{{users}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{users}}</td>
    <td title="{{milestone}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{milestone}}</td>
    <td title="{{card}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{card}}</td>
    <td title="{{board}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{board}}</td>
    <td title="{{progress}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{progress}}</td>
    <td title="{{effort}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{effort}}</td>
    <td title="{{eta}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{eta}}</td>
    <td title="{{closed_on}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{closed_on}}</td>
    <td>
	    <a data-target="doc-dropdown-app-bar-{{eml_id}}" data-hover="false" class="btn btn-default eq-ui-btn-flat eq-ui-btn-fab eq-ui-btn-menu-fab eq-ui-waves dropdown-trigger waves-effect waves-effect">
	        <i class="mdi mdi-dots-vertical icon"></i>
	    </a>
	    <ul id="doc-dropdown-app-bar-{{eml_id}}" class="eq-ui-dropdown">
            <li><a data-target="eq-ui-modal-edit" class="eml-edit eq-ui-modal-trigger">Edit</a></li>
            <li><a data-target="eq-ui-modal-delete" class="eml-delete eq-ui-modal-trigger">Delete</a></li>
        </ul>
    </td>
</tr>	
</template>
<template name="sp_team">
	<a href="#" id="team_item_{{this}}" class="eq-ui-list-item team-item">{{this.name}}</a>
</template>

<template name="userPill">
    <span>{{username}}</span>
</template>
<template name="boardPill">
    <span>{{name}}</span>
</template>