<template name="sprintPlanner">
	<div class="sprintPlanner">
		<div class="row">
			<div class="col-md-2">
				<div class="eq-ui-list eq-ui-hoverable">
					<a href="#" class="eq-ui-list-item team-item">All</a>
				    {{#each teams}}
			    		{{> sp_team}}
			    	{{/each}}
				</div>
			</div>
			<div class="col-md-10">
				<form id="query">
				    <div class="row">
				    	<div class="col-md-12">
				            <div class="row">
				            	<div class="col-md-2">
						            <div class="row">
						                <div class="col-md-12">
						                    <div class="eq-ui-form-group eq-ui-input-field">
						                        <input id="statement-id" type="text" class="eq-ui-input" value="{{statementId}}" placeholder="id"/>
						                        <label for="statement-id" class="active">Statement ID</label>
						                    </div>
						                </div>
						            </div>
						        </div>
				                <div class="col-md-9">
				                    <div class="eq-ui-form-group eq-ui-input-field">
				                        <input id="statement-eml" type="text" class="eq-ui-input" value="{{description}}" placeholder="assign @user to some task inside a #board"/>
				                        <label for="statement-eml" class="active">Exentrinq Markup Language statement</label>
				                    </div>
				                </div>
				                <div class="col-md-1">
				                    <div class="eq-ui-form-group eq-ui-input-field">
				                        <button id="statement-add" class="btn btn-primary eq-ui-btn-fab eq-ui-waves-light"><i class="mdi mdi-plus icon"></i></button>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
			    </form>
				
				<table id="sprint-planner-table" class="table eq-ui-data-table z-depth-1 eq-ui-hoverable" >
			        <thead>
			            <tr>
			                <th class="eq-ui-data-table-cell-non-numeric">#</th>
			                <th>@By</th>
			                <th style="width: 50%">Description</th>
			                <th>[]Points</th>
			                <th>@Assigned To</th>
			                <th>!Milestone</th>
			                <th>&Card</th>
			                <th>#Board</th>
			                <th>% Progress</th>
			                <th>~ Effort</th>
			                <th>ETA</th>
			                <th>Closed On</th>
			            </tr>
			        </thead>
			        <tbody>
			        	{{#each tasks}}
				    		{{> sp_task}}
				    	{{/each}}
			    	</tbody>
			    </table>
			</div>
		</div>
		
		
	</div>
</template>

<template name="sp_task">
<tr>
    <td title="{{index}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{index}}</td>
    <td title="{{assigned_by}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{assigned_by}}</td>
    <td title="{{what_and_why}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{what_and_why}}</td>
    <td title="{{points}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{points}}</td>
    <td title="{{assigned_to}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{assigned_to}}</td>
    <td title="{{milestone}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{milestone}}</td>
    <td title="{{card}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{card}}</td>
    <td title="{{board}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{board}}</td>
    <td title="{{progress}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{progress}}</td>
    <td title="{{effort}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{effort}}</td>
    <td title="{{eta}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{eta}}</td>
    <td title="{{closed_on}}" class="eq-ui-data-table-cell-non-numeric eq-ui-data-table-cell-truncate">{{closed_on}}</td>
</tr>	
</template>
<template name="sp_team">
	<a href="#" id="team_item_{{this}}" class="eq-ui-list-item team-item">{{this}}</a>
</template>